//-------------------------------------------------------------------------------
// Font Import
//-------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Colors
$color-background		: #141414;
$color-text				: #999999;
$color-text-link		: #CCCCCC;
$color-text-link-hover	: #FFFFFF;
$color-icon				: #999999;
$color-icon-hover		: #811c1c;

// Breakpoints
$bp-smallish 			: 1200px;
$bp-tablet 				: 800px;
$bp-mobile 				: 500px;

// Images
$image-background		: url('../../images/background.jpg');

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

html {
	background-color: $color-background; 
}
body.page-template-page-fullsingle-me {
	height: 100vh;
	background-color: $color-background; 
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 45px;
	line-height: 60px;
	letter-spacing: -0.5px;
	color: $color-text;
	background-image: $image-background; 
	background-position: center center;
	background-size:cover;

	//-------------------------------------------------------------------------------
	// Site Origin Page Builder Global Styles
	//-------------------------------------------------------------------------------

	p { // used in bio
		margin-bottom: 28px;
		color: $color-text;

		@media (max-width: $bp-tablet ) {
			font-size: 32px;
			line-height: 40px;
		}	

	}

}

//-------------------------------------------------------------------------------
// Sections
//-------------------------------------------------------------------------------

.fs-me {
	padding: 10vh 10vw;
	overflow:hidden;
	position: absolute;
	z-index: 1000;

	@media (max-width: $bp-mobile ) {
		padding: 5vh 5vw;
		text-align: center;
	}	

  	.me-content {
  		height: 80vh;
		display: flex;
  		flex-direction: column;

		@media (max-width: $bp-mobile ) {
			height: 90vh; // as padding now 5vh 5vw
		}	

	}

}

//-------------------------------------------------------------------------------
// Logo
//-------------------------------------------------------------------------------

.logo { 
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-self: left;
		animation: fadein 2s;

		@media (max-width: $bp-mobile ) {
			align-self: center;
			min-width: 80px;
		}

	img {
		transition: opacity 1s;
		max-width: 80px;
		height: auto;
		opacity: 0.6;
	}
	img:hover {
		opacity: 1;
		transition: opacity 1s;
	}

}

//-------------------------------------------------------------------------------
// Bio
//-------------------------------------------------------------------------------

.bio { 
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation: fadein 4s;
	letter-spacing: -1px;
	max-width: 66%;

	@media (max-width: $bp-tablet ) {
		max-width: none;
	}

	a {
		color: $color-text-link;
		transition: 1s;

		&:hover {
			color: $color-text-link-hover;
			transition: 0.1s;
		}

	}

}

//-------------------------------------------------------------------------------
// Network
//-------------------------------------------------------------------------------

.network { 
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	animation: fadein 6s;
	margin-top: auto;

	ul {
		animation: fadein 6s;
		margin-top: auto; // sit at bottom of DIV

		li {
			display: inline-block;
			margin-right: 8px;
			opacity: 0.6;
			transition: opacity 0.6s;

			a {
				display: inline-block;
				width: 30px;
				height: 30px; 
				cursor: pointer;
			}
		}
		li:hover {
			transition: opacity 0.6s;
			opacity: 1;
		}

	}

}	

//-------------------------------------------------------------------------------
// Credit
//-------------------------------------------------------------------------------

//	To edit this credit you can remove the CCA 3.0 license for only $5 here: https://onepagelove.com/me 
//	this really helps contribute towards us developing more templates and means the world to me!
//	Cheers, Rob (@robhope)

.credit {
	font-size: 12px; 
	line-height: 14px;	
	margin-bottom: 0;
	animation: fadein 8s;
	opacity: 0.5;
	
	p.copyright {
		font-size: 12px; 
		line-height: 14px;
		font-weight: 400;
		margin-bottom: 10px;;

		a { 
			color: $color-text;
		}

	}
	
	p.resources {
		font-size: 12px; 
		line-height: 14px;
		font-weight: 400;

		a { 
			color: $color-text;
		}

	}
	
}